{% extends "drf_yasg/swagger-ui.html" %}

{% block extra_styles %}
{{ block.super }}

<style>
/* Barre supérieure Swagger */
.swagger-ui .topbar {
    background: #000000;
}

/* Cache le logo Swagger */
.topbar-wrapper img {
    display: none !important;
}

/* Affiche le logo Rio Gold */
.topbar-wrapper::after {
    content: "";
    display: block;
    width: 220px;
    height: 60px;

    background-image: url("/media/logo/asset4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
</style>
