<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Reçu de Transaction</title>
</head>
<body>
    <h1>Banque XYZ</h1>
    <p><strong>Type :</strong> {{ transaction.type_transaction }}</p>
    <p><strong>Montant :</strong> {{ transaction.montant }} FCFA</p>
    <p><strong>Numéro de compte :</strong> {{ transaction.compte.numero_compte }}</p>
    <p><strong>Date :</strong> {{ transaction.date_transaction }}</p>
    <p><strong>Caissier :</strong> {{ transaction.user.username }}</p>
    <p>Merci de votre confiance !</p>
</body>
</html>
